*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
}
 .table td, .table th {
    vertical-align: middle;
}
.curdba{
    min-height: 100dvh;
}
.inputColor{
    border: #03bfb2 2px solid;
}
.container {
    max-width: 70%;
    margin-top: 50px;
}

